@import '@fontsource/fira-mono';

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--primary: #88cc14;
	--primary-accent: #9fef00;
	--gold: #ffd000;
	--silver: #c0c0c0;
	--bronze: #cd7f32;
	--task-solved: #2b4026;
	--first-blood: #ff3e3e;
	--background: #141d2b;
	--background-accent: #1a2332;
	--surface: #263143;
	--text: #a4b1cd;
	--text-accent: #ffffff;
	font-size: 16px;
}

body {
	min-height: 100vh;
	margin: 0;
	color: var(--text);
	background-color: var(--background);
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--text-color);
}

p {
	line-height: 1.5;
}

a {
	color: var(--primary);
	text-decoration: none;
}

a:hover {
	transition-duration: 200ms;
	color: var(--primary-accent);
	text-decoration: underline;
}

h1 {
	font-size: 3rem;
	text-align: center;
	color: var(--text-accent);
}

h2 {
	font-size: 1.5rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
